/* Reusable Classes */
.active-menu {
	color: #428BCA;
}

.active a {
	font-weight: bold;
	font-size: 17px;
}

.pagination li a {
	color: green !important;
}

.pagination li span {
	background-color: green !important;
	border-color: green !important;
}

.table-header {
	font-weight: bold;
	text-align: center;
}

/* End Reusable Classes */

#header .header-menu-item{
	color: white;
}

#container {
	margin-top: 80px;
	margin-right: 100px;
	margin-bottom: 70px;
	margin-left: 100px;
}

#footer {
	padding-top: 15px;
	text-align: center;
	color: white;
}

#back-to-top {
	text-align: center;
	margin-left: 40px;
}

/* Responsive */
@media all and (max-width: 768px) {
	#container {
		margin-left: 5%;
		margin-right: 5%;
	}
}
/* End Responsive */