{% include 'includes/header.html' %}

<div id="container" class="container-fluid">
	<div class="jumbotron">
		<h2>Welcome to Sociagraph!</h2>
		<p>Sociagraph is a web application equipped with tools for Natural Language Processing (NLP).</p>
		<p>These are the current tools available:
			<ul>
				<li>
					<a href="{% url 'key_information_extractor:index' %}">Key Information Extractor</a>. This tool extracts key information related to the themes provided.
				</li>
				<li>
					<a href="{% url 'sentiment_analyzer:index' %}">Sentiment Analyzer</a>. This tool analyze the sentiment of each sentence in a given text. Each sentence will be labeled happy, sad, angry, fearful or neutral.
				</li>
			</ul>
		</p>
	</div>
</div>

{% include 'includes/footer.html' %}