{% include 'includes/header.html' %}

<div id="container" class="container-fluid">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h4 class="panel-title">Welcome to Sociagraph!</h4>
		</div>
		<div class="panel-body">
			<p>
				Sociagraph is a web application equipped with tools for Natural Language Processing (NLP).
			</p>
			<p>
				These are the current tools available:
				<ul>
					<li>Key Information Extractor</li>
					<li>Sentiment Analyzer</li>
				</ul>
			</p>
		</div>
	</div>		
</div>

{% include 'includes/footer.html' %}