{% include 'includes/header.html' %}

<div>
	<div id="theme-matcher">
		<form id="theme-matcher-form" action="{% url 'theme_matcher:results' %}" method="post" role="form">
		{% csrf_token %}
			<div class="form-group">
				<label for="theme">Theme</label>
				<input type="text" name="theme" id="theme" class="form-control" value="agriculture"/>
			</div>
			<div class="form-group">
				<label for="text">Text</label>
				<textarea name="text" id="text" class="form-control" rows="9" cols="40">Many of the trainings he  attended  in the last  two years  were   on   organic  agriculture, climate  change  and even hydrophonics .  to name  a few are as  follows;    Trainer on Training (TOT )on Organic farming (requested by Albay DTI), Trainer on Training (TOT) on Climate Change, Trainer on Training (TOT) on Organic farming and Organic fertilizers, Training on Vermicomposting, Training on Organic Swine and Poultry, Training on Hydrophonics KSK (Kaisa sa Kasaganaan): vegetables, producing high value commercial crops (December to April)</textarea>
			</div>
			<input type="submit" value="Process" class="btn btn-success"/>
		</form>
	</div>
</div>

{% include 'includes/footer.html' %}