{% load staticfiles %}

		<nav id="footer" class="navbar navbar-inverse navbar-fixed-bottom" >
			<div class="container-fluid">
				<span id="copyright">Sociagraph &copy; 2014</span>
				<span id="back-to-top"><a href="#">Back to Top</a></span>
			</div>
		</nav>
	</body>
	<script type="text/javascript" src="{% static 'sociagraph/jquery-1.11.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'sociagraph/bootstrap.js' %}"></script>
	<script type="text/javascript" src="{% static 'sociagraph/scripts.js' %}"></script>
</html>