<ul class="pagination">
    {% if items.paginator.num_pages > 1 %}
        <li><a href="?page={{ 1 }}">First</a></li>
        {% if items.has_previous %}
            <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
        {% endif %}

        <li class="active">
            <span class="current">
                {{ items.number }} of {{ items.paginator.num_pages }}
            </span>
        </li>

        {% if items.has_next %}
            <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
        {% endif %}
        <li><a href="?page={{ items.paginator.num_pages }}">Last</a></li>
    {% endif %}
</ul>