#container {
	margin-top: 50px;
	margin-bottom: 50px;
}

textarea {
	resize: none;
}

/* Responsive */
@media all and (max-width: 768px) {
	#container {
		margin-left: 5%;
		margin-right: 5%;
	}
}
/* End Responsive */